
<div ng-controller="controller4">
    <h1>Objective 4</h1>
    <div id="changetextcolor" ng-click="changeColor()">
        <p ng-style="style={color:newColor}">
            Pillage killick transom topmast smartly rope's end rigging Corsair brigantine cog Jolly Roger weigh anchor gangway wench clap of thunder. Spike holystone hands topgallant wench booty square-rigged ahoy list Sink me six pounders chase pink rutters lass. Bounty line Cat o'nine tails spyglass long boat Buccaneer boatswain swab tackle code of conduct fathom provost driver jib sheet. Reef sails cackle fruit draught fathom stern crimp rutters lugsail pinnace topmast Admiral of the Black Pieces of Eight strike colors shrouds killick. Bilged on her anchor topmast sloop grog furl Davy Jones' Locker hang the jib gaff yo-ho-ho main sheet booty stern Privateer scurvy careen.
        </p>
    
    </div>
</div>

<div>
    <button ng-click="next()">NEXT</button>
</div>